body {
    margin: 0;
    padding: 0;
}


.container {
    margin: 0;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.off {
    background-color: #2f465d;
}

.on {
    background-color: rgb(197, 177, 153);
}

#dot:hover {
    cursor: grab;
}

#dot:active {
    cursor: grabbing;
}

.on .circuit {
    stroke: black;
}

.on .glass {
    fill: rgb(255, 240, 124);
    fill-opacity: 0.4;
}

.on #dot {
    fill: black;
}

.on .contact {
    stroke: rgb(237, 237, 237);
}

#door {
    fill: rgb(90, 70, 49);
}

.on #door {
    fill: rgb(145, 137, 130);
}

.door-element {
    stroke: rgb(55, 50, 43);

}

.on .door-element {
    stroke: rgb(107, 99, 87);
}

#door-knob {
    fill: rgb(194, 107, 0);
}

.on #door-knob {
    fill: rgb(205, 143, 69);
}