body {
    margin: 0;
    padding: 0;
}


.container {
    margin: 0;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.off {
    background-color: #3C5587;
}

.on {
    background-color: rgb(197, 177, 153);
}

#dot:hover {
    cursor: grab;
}

#dot:active {
    cursor: grabbing;
}

.on .circuit {
    stroke: black;
}

.on .glass {
    fill: rgb(255, 240, 124);
    fill-opacity: 0.4;
}

.on #dot {
    fill: black;
}

.on .contact {
    stroke: rgb(237, 237, 237);
}